.venv
__pycache__/
.pytest_cache/
.ruff_cache
*Zone.Identifier
.codex
test/
.out
2026-spring/math_engineer/lect-crowdwalk/work/.gradle/
2026-spring/math_engineer/lect-crowdwalk/work/gen.csv
2026-spring/math_engineer/lect-crowdwalk/work/log/
